/* Styles for the SocialStats component */
.social-stats__info-container {
  position: absolute;
  min-height: 125px;
  top: 220px;
  box-shadow: 1px 1px 5px #434143;
}

.social-stats__info-item {
  min-width: 25%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.social-stats-item-title {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.social-stats-item-value {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.blocks {
  background-color: #a2bce8;
  min-width: 45%;
  left: 25%;
}
