/* Styles for the User Profile component */
.user-profile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0e4e5;
    overflow: hidden;
}

.text {
    color: black;
}

.career-featured-works {
    position: absolute;
    height: 125px;
    top: 375px;
    box-shadow: 1px 1px 5px #434143;
}

.career-featured-works-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.career-featured-works-item {
    margin-left: 10px;
    overflow: auto;
}

.blocks {
    background-color: #a2bce8;
    min-width: 45%;
    left: 25%;
}