/* Styles for the Side Bar component */
.side-bar {
    position: fixed;
    overflow: auto;
    display: block;
    width: 200px;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #4e89f0;
    box-shadow: 1px 1px 5px #434143;
}

.side-bar__home-link {
    position: absolute;
    width: 180px;
    height: 60px;
    top: 10px;
    left: 10px;
}

.side-bar__home-button {
    background-size: cover;
    background-image: url("./static/home-button-icon.png");
}

.side-bar__browse-link {
    position: absolute;
    width: 180px;
    top: 70px;
    padding: 10px;
    height: 40px;
}

.side-bar__create-stories-link {
    position: absolute;
    width: 180px;
    top: 120px;
    padding: 10px;
    height: 40px;
}

.side-bar__my-stories-link {
    position: absolute;
    width: 180px;
    top: 170px;
    padding: 10px;
    height: 40px;
}

.side-bar__my-proposals-link {
    position: absolute;
    width: 180px;
    top: 220px;
    padding: 10px;
    height: 40px;
}

.side-bar__button {
    width: 100%;
    height: 100%;
}

.side-bar__profile-link {
    position: absolute;
    width: 180px;
    bottom: 20px;
    padding: 10px;
    height: 40px;
}

.side-bar__logout-link {
    position: absolute;
    width: 180px;
    bottom: 70px;
    padding: 10px;
    height: 40px;
}

.side-bar__register-link {
    position: absolute;
    width: 180px;
    bottom: 20px;
    padding: 10px;
    height: 40px;
}

/* Remove underline from text*/
a:-webkit-any-link {
    text-decoration: none;
}