/* Styles for the CareerStats component */
.user-profile__career-stats {
    position: absolute;
    background-color: #a2bce8;
    width: 300px;
    min-height: 300px;
    top: 20px;
    left: 75%;
    box-shadow: 1px 1px 5px #434143;
}

.career-stats-header {
    background-color: #901A37;
    box-shadow: 1px 1px 5px #434143;
    text-align: center;
}

.career-stats-item {
    margin-left: 10px;
    margin-top: 5px;
    line-height: 1.5;
}