
.bottom__left{
    height: 35%;
    width: 50%;
    position: relative;
    float: left;
}
.header{
    z-index: 2;
}
.body{
    z-index: 1;
}

.bottom__right{
    height: 35%;
    width: 50%;
    margin-left: 50%;
    position: relative;
}
.homepage{
    height: 100%;
    width: 100%;
    position: absolute;
}