.login__form {
    margin-top: 30%;
    text-align: center;
}

.login_title_wrapper {
    width: 100%;
    height: 40%;
    position: absolute;
}
.login__page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('./static/login_background.jpg');
    background-size: cover;
    z-index: 1;

}
.login_wrapper{
    height: 80%;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    position: absolute;
    border-radius: 25px;
    z-index: 10;
    /* subject to design change, temporary to show design plan */
    background-image: url('./static/background.jpg');
}

.login_logo{
    height: 30%;
    width: 25%;
    margin-left: 37.5%;
    margin-top: 2%;
    background-image: url('../SideBar/static/home-button-icon.png');
    background-size: cover;
    position: absolute;
}
.back_button_text{
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.login_to_home_link{
    height: 20%;
    width: 20%;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}
.login_title{
    position: absolute;
    margin-top: 15%;
    text-align: center;
    font-weight: 1000;
    font-size: 60px;
    color: brown;
    margin-left: 30%;
}

.login_subtitle{
    position: absolute;
    color: black;
    font-weight: 500;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 25%;
}